<div class="tought-form-container">
    <a href="/toughts/dashboard">Voltar</a>
    <h1>Registre seu pensamento:</h1>
    <form action="/toughts/add" method="post">
        <div class="form-control">
            <label for="title">No que está pensando:</label>
            <input type="text" name="title" placeholder="Digite o que está pensando">
        </div>
        <input type="submit" value="Publicar Pensamento">
    </form>
</div>